// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.login-page {
  background-image: url('/images/school.png');
  background-repeat: repeat;
}

.main-header {

  background-image: url('/images/stardust.png');
  background-repeat: repeat;
  color: #8eb4cb;

}

.h1-main {

  font-size: 120px;
}

.h1-sub {

  font-size: 50px;

}
