// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.main-background {
  background-image: url('/images/school.png');
  background-repeat: repeat;
}

.sub_bacground {

  background-image: url('/images/building.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

}

.main-header {

  background-image: url('/images/stardust.png');
  background-repeat: repeat;
  color: #d9dde7;

}

.h1-main {

  font-size: 120px;
}

.h1-sub {

  font-size: 50px;

}
